body{
    color: #000814;
    background-color: lightblue;
    text-align: center;
    font-size: 100%;
}

#container{
    display: flex;
    justify-content: center;
}
div, h1{
    margin: 0px 5px;
}
select, input{
    color: inherit;
    text-align: center;
}
@media(max-width: 520px){
    .slot{
        margin: 10px;
        max-width: fit-content;
        margin: 10px auto;
    }
  #container{
        display: flex;
        flex-direction: column;
    }
    #btn-div{
        margin: auto;
    }
}
.slot{
    display: flex;
    flex-direction: column;
}
button{
    color: inherit;
    background-color: aqua;
    border: none;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    height: max-content;
    width: max-content;
}
#btn-div{
    display: flex;
    align-items: center;
}