#container{
    display: flex;
}
div, h1{
    margin: 0px 5px;
}
.slot{
    display: flex;
    flex-direction: column;
}
button{
    height: max-content;
    width: max-content;
    padding: 5px;
    margin: auto 0px;
    cursor: pointer;
}